---
const { title, desc, pdf, badge, tags } = Astro.props;
---

<div class="rounded-lg bg-base-100 hover:shadow-lg transition ease-in-out hover:scale-[102%] p-2">
  <div class="flex flex-col space-y-2">
    <!-- Title + PDF link -->
    <div class="flex justify-between items-start">
      <!-- Title and badge -->
      <div class="flex flex-wrap items-center gap-2">
        <h1 class="text-lg font-bold">{title}</h1>
        {badge && <span class="badge badge-secondary">{badge}</span>}
      </div>

      <!-- PDF link with separator '|' -->
      {pdf && (
        <a
          href={pdf}
          target="_blank"
          class="flex items-center text-blue-600 hover:text-blue-800"
        >
          <span class="mr-1 self-stretch border-l-2 border-gray-400"></span>
          <span class="text-sm underline">View Paper</span>
        </a>
      )}
    </div>

    {desc && <p class="text-sm">{desc}</p>}

    {tags && (
      <div class="flex flex-wrap gap-1">
        {tags.map((tag) => (
          <span class="badge badge-outline text-xs">{tag}</span>
        ))}
      </div>
    )}
  </div>
</div>